<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button @click="set('add')" onclick="showAdd(),addSign()">+</button>
        <button @click="set('minus')" onclick="showMinus(),minusSingn()">-</button>
        <button @click="set('multi')" onclick="showMul(),multiSingn()">*</button>
        <button @click="set('divi')" onclick="showDiv(),diviSingn()">/</button>
        <br>
        <h1 id="demo">การบวก</h1>

        <input type="number" v-model="number1">
        <label id="demo1">+</label>
        <input type="number" v-model="number2">
        =

        <template v-if="num =='add'">
            {{ add }}
        </template>
        <template v-else-if="num =='minus'">
            {{ minus }}
        </template>
        <template v-else-if="num =='multi'">
            {{ multi }}
        </template>
        <template v-else-if="num =='divi'">
            {{ divide }}
        </template>
        <template v-else>
            {{ add }}
        </template>

        <script>
            function addSign() {
                document.getElementById("demo1").innerHTML = "+";
            }
            function minusSingn() {
                document.getElementById("demo1").innerHTML = "-";
            }
            function multiSingn() {
                document.getElementById("demo1").innerHTML = "*";
            }
            function diviSingn() {
                document.getElementById("demo1").innerHTML = "/";
            }
        </script>

    </div>


    <script>
        function showAdd() {
            document.getElementById("demo").innerHTML = "การบวก";
        }
        function showMinus() {
            document.getElementById("demo").innerHTML = "การลบ";
        }
        function showMul() {
            document.getElementById("demo").innerHTML = "การคูณ";
        }
        function showDiv() {
            document.getElementById("demo").innerHTML = "การหาร";
        }
    </script>

    <script>
        var app = new Vue({
            el: '#app',

            data: {
                num :'',
                number1: 0,
                number2: 0,
                result: 0
            },
            methods: {
                set: function (N) {
                    this.num = N
                }


            },
            computed: {
                add: function () {
                    return parseInt(this.number1) + parseInt(this.number2);
                },
                minus: function () {
                    return parseInt(this.number1) - parseInt(this.number2);
                },
                multi: function () {
                    return parseInt(this.number1) * parseInt(this.number2);
                },
                divide: function () {
                    return parseInt(this.number1) / parseInt(this.number2);
                }


            }
        });
    </script>






</body>

</html>